body {
  margin: 0 auto;
  width: 1348px;
}
.App {
  height: 750px;
  padding-top: 80px;
}
.mini {
  width: 1150px;
  height: 600px;
  margin-left: 100px;
  padding-bottom: 30px;
  background: #ff4656;
  border-radius: 32px;
}
